- @title = "Editing transaction"

= partial "transactions/form", |
  :locals => { |
    :transaction => @transaction, |
    :url => url(:transactions, :update, :id => @transaction, :account_id => params[:account_id]), |
    :method => "put", |
    :button_text => "Update" |
  } |