- @title = "Import Transactions into #{@account.name}"

- form_tag nil, :multipart => true do
  %p
    %label(for="file") File
    %input(type="file" id="file" name="file")
  %p
    = button_submit_tag "Import", :class => "dark green medium"
    = link_to "Cancel", url(:transactions, :index, :account_id => params[:account_id]), :class => "button light white medium"