- @title = "Adding transaction"

= partial "transactions/form", |
  :locals => { |
    :transaction => @transaction, |
    :url => url(:transactions, :create, :account_id => params[:account_id]), |
    :method => "post", |
    :button_text => "Save" |
  } |