- form_tag url(:transactions, :upload), :multipart => true do
  %p
    %label(for="file") File
    %input(type="file" id="file" name="file")
  %p
    %button(type="submit") Upload

%p
  = link_to "View transactions", url(:transactions, :index)