- @title = "Upload to #{@account_id}"

- form_tag url(:transactions, :upload, :account_id => @account_id), :multipart => true do
  %p
    %label(for="file") File
    %input(type="file" id="file" name="file")
  %p
    %button(type="submit") Upload

%p
  = link_to "Return to list", url(:transactions, :index, :account_id => @account_id)