div.pagination {
	margin: 1em 0 2em 0;
	/*text-align: center;*/
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid silver;
	text-decoration: none; /* no underline */
	color: #334b76;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #334b76;
	color: #000;
}
div.pagination span.current, div.pagination em {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #334b76;
	font-weight: bold;
	background-color: #334b76;
	color: #FFF;
	font-style: normal;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid silver;
	color: silver;
}